#info {	
   color:white;
}

#info2 {	
 
}

.navbar-inverse{
	 background-color:;
}

#navbar{
	 background-color:;
}
.panel-title{
	font-weight:bold;
}

#navbar ul li button{

    background-color:#222;
    border:0px;
    margin-left:10px;
    text-decoration:none; 
    outline:none;

}


