{% block content %}

<div class="panel panel-default">
  <div class="panel-body">
   
      
      <div class="row">
        <div class="col-sm-6">
          <div class="panel ">
            <div class="panel-heading">
              <h3 class="panel-title">About Me</h3><hr>
            </div>
            <div class="panel-body" style="padding-bottom:25px">
              Hello, My name is Patrick Flanagan, and at present I am a 4th year student in GMIT Galway studying for an honours degree in computing and digital media. I am interested in web and graphics design, with a passion for branding and online pesuasion and influencing approaches. I also have a passion for business coaching and consultancy in the area of IT. With the growing trends of IOT and cloud computing, and the IT industry expected to explode in the next few years, I am keen to learn and work in this field.         
            </div>
          </div>
      
        </div><!-- /.col-sm-4 -->

        <div class="col-sm-6">
          <div class="panel ">
            <div class="panel-heading">
              <h3 class="panel-title">Trivia</h3><hr>
            </div>
            <div class="panel-body" style="font-weight:bold; padding-left:50px; padding-bottom:-10px">
                Certified Trainer of NLP<br>
                Master Practitioner of NLP<br>
                Dip in Counselling and Hypnotherapy<br>              
                Thought Field Therapy (Prac)<br>                
                Kinesiology<br>
                TFT Toxin Treatment (Prac)<br>
                Guitar Player
                <p id="info3"></p>
            </div>
          </div>
    
        </div><!-- /.col-sm-4 -->
      </div>
  </div>
</div>

{% endblock %}