<html>

<head>


<script type="text/javascript">
var map;
function initMap() {
var mapOptions = {
center: new google.maps.LatLng(53.2882236,-9.0531476),
zoom:5,
backgroundColor: "#000000",
mapTypeId: google.maps.MapTypeId.TERRAIN
}
map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
var marker = new google.maps.Marker({
position: {lat:53.2882236,lng:-9.0531476},
map:map,
title:"my marker"
});
google.maps.event.addListener(marker, 'mouseover', function(){ console.log('clicked'
); });
google.maps.event.addListener(map, 'bounds_changed', function(){ console.log(
'resized'); });
}
</script>
<style>
    #map-canvas {
           height: 250px;
           width: 507px;
           margin: 0;
           padding: 0;
           margin-top: 10px;
           }
</style>           





</head>

<body>



{% block content %}

<!-- Content goes here -->
<div class="panel panel-default">
  <div class="panel-body">
   
      
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-success">
            <!--<div class="panel-heading">
              <h3 class="panel-title">Contact Panel Title</h3>
            </div>-->
            <div class="panel-body" style="font-weight:bold; padding-bottom: 28px;">
              <br>
              <h3>Contact Info</h3><hr>
              Patrick Flanagan
              176 Castlelawn Heights,<br>
              Headford Rd,<br>
              Galway,<br>
              Ireland.
              <br><br>
              Mobile: 086 3633827<br>
              Email: flanaganpatrick@eircom.net

            </div>
          </div>
      
        </div><!-- /.col-sm-4 -->

        <div class="col-sm-6">        
          <div class="panel panel-success">
            <!--<div class="panel-heading">
            <h3 class="panel-title">Contact Extra</h3>
            </div>-->
            <div class="panel-body">
                  <div id="map-canvas" class="map_canvas"></div>                
            </div>
          </div>
    
        </div><!-- /.col-sm-4 -->
      </div>
  </div>
</div>


{% endblock %}

 <script language="javascript" src=
"https://maps.googleapis.com/maps/api/js?v=3&callback=initMap" async defer></script>

</body>

</html>